<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="study.jyavanna.login_test2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mainlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mainlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_Test2"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Review"
            android:theme="@style/Theme.MyDialog"
            android:exported="false" />
        <activity
            android:name=".WebBD1"
            android:exported="false" />
        <activity
            android:name=".Web4"
            android:exported="false" />
        <activity
            android:name=".Web3"
            android:exported="false" />
        <activity
            android:name=".Web2"
            android:exported="false" />
        <activity
            android:name=".Web1"
            android:exported="false" />
        <activity
            android:name=".Fragcafe_global"
            android:exported="false" />
        <activity
            android:name=".Fragcafe_budorm"
            android:exported="false" />
        <activity
            android:name=".Fragcafe_winter"
            android:exported="false" />
        <activity
            android:name=".Fragcafe_kyosu"
            android:exported="false" />
        <activity
            android:name=".Fragcafe_bonbu"
            android:exported="false" />
        <activity
            android:name=".Distance"
            android:exported="false" />
        <activity
            android:name=".House"
            android:exported="false" />
        <activity
            android:name=".Bus"
            android:exported="false" />
        <activity
            android:name=".Cafeteria"
            android:exported="false" />
        <activity
            android:name=".RegistActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>